<main class="main">
  <h1 class="title">Самое незаметное издательство</h1>
  <div class="book-joke">
    <div class="booking" ng-repeat="book in LessinBoock.books | limitTo: LessinBoock.limitBooks">
      <a ng-href="/space_book/{{book.id}}">
        <img ng-src="{{book.cover.small}}" alt="{{book.title}}">
      </a>
      <a class="book-linked" ng-href="/space_book/{{book.id}}" ng-bind-html="book.info"></a>
    </div>
  </div>
  <button ng-if="LessinBoock.showBtn" ng-click="LessinBoock.upLimitBooks()" class="main-btn">Ещё несколько книг</button>
</main>