<main class="main">
  <h1 class="title">Мы издаем книги — вы их можете не читать</h1>
  <div class="book-image">
    <div class="book-main">
      <div class="book-amazing">
        <img ng-src="{{BookOne.book.cover.large}}" alt="{{BookOne.book.title}}">
       <ng-eye></ng-eye>
      </div>
      <h2 class="desc" ng-bind-html="BookOne.book.description"></h2>
    </div>
    <div class="reviews">
      <div class="review" ng-repeat="review in BookOne.book.reviews">
        <img ng-src="{{review.author.pic}}" alt="{{review.author.name}}">
        <h3>{{review.cite}}</h3>
      </div>
    </div>
    <div class="features">
      <div class="feature" ng-repeat="feature in BookOne.book.features">
        <img ng-src="{{feature.pic}}" alt="{{feature.title}}">
        <h3>{{feature.title}}</h3>
      </div>
    </div>
  </div>
  <a ng-href="/space_order/{{BookOne.book.id}}" class="price-btn">Купить за жалкие {{BookOne.book.price}} Z</a>
  <div class="price-desc">
    <p>Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
    <img src="img/zapp.png" alt="Скраффи">
  </div>
</main>