/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html, body {
  font-size: 14px;
  font-family: 'Arial', sans-serif; }

body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto; }

a {
  color: currentColor; }

a:link,
a:visited {
  text-decoration: none; }

.logo {
  display: block;
  margin-bottom: 2.888rem; }

img {
  max-width: 100%; }

textarea {
  resize: vertical; }

.header {
  padding-bottom: 2.888rem;
  padding-top: 2.888rem; }
  @media (min-width: 1366px) {
    .header {
      display: flex;
      justify-content: space-between; } }

.header,
.main,
.footer {
  padding-right: 4%;
  padding-left: 4%; }

.main {
  flex: 1;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column; }

.search {
  position: relative; }
  .search input {
    width: 100%;
    padding: .5em 1em .5em 2em;
    background: url(../img/loop.png) no-repeat center center;
    background-position: .5rem center;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 10rem;
    font-size: 1.1rem;
    outline: none; }
    @media (min-width: 1366px) {
      .search input {
        width: 21rem; } }
  .search::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px; }

.title {
  margin-top: 0;
  margin-bottom: 2.888rem;
  font-size: 2.5rem;
  text-align: center; }
  @media (min-width: 1366px) {
    .title {
      font-size: 5rem; } }

@media (min-width: 1366px) {
  .book-joke {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center; } }

@media (min-width: 1366px) {
  .booking {
    width: calc(25% - 40px);
    margin: 0 20px 4rem;
    text-align: center;
    margin-bottom: 4rem; } }

.book-linked {
  color: #4c4c4c;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1rem; }
  .book-linked u {
    color: #4285be; }
  .book-linked:hover u,
  .book-linked:focus u {
    color: #fc5454; }

.book-image {
  text-align: center; }

@media (min-width: 1366px) {
  .book-image {
    display: flex;
    justify-content: space-between; }
  .reviews {
    order: 1; }
  .book-main {
    order: 2; }
  .features {
    order: 3; }
  .reviews,
  .book-main,
  .features {
    width: calc(33% - 80px);
    margin: 0 40px; } }

.book-main {
  margin-bottom: 4.4rem; }
  .book-main img {
    margin-bottom: 3rem; }

.desc {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0; }
  .desc strong {
    font-weight: normal;
    color: #fc5454; }

.book-amazing {
  position: relative; }

.apple-mergineye {
  position: absolute;
  left: calc(50% - 5rem);
  top: 40%;
  width: 10rem;
  height: 10rem;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 4px solid #000; }
  .apple-mergineye:before {
    content: '';
    position: absolute;
    left: -5%;
    right: -5%;
    top: -5%;
    bottom: -5%;
    background: #fff;
    border-radius: 50%;
    transform: rotateX(0deg);
    animation-name: eye-blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 5s; }

@keyframes eye-blink {
  82% {
    transform: rotateX(0deg); }
  94% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg); } }

.apple-mergin {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  border-radius: 50%;
  background: #000; }

.review,
.feature {
  margin-bottom: 4rem; }
  .review img,
  .feature img {
    margin-bottom: 1.4rem; }
  .review h3,
  .feature h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0; }

.main-btn {
  display: block;
  background: none;
  border: 2px solid #96c2e4;
  color: #4285be;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: .6em 1.8em;
  margin: 0 auto;
  width: 95%;
  outline: none;
  cursor: pointer; }
  .main-btn:hover, .main-btn:active {
    border-color: #fc5454;
    color: #fc5454; }
  @media (min-width: 1366px) {
    .main-btn {
      width: auto; } }

.price-btn {
  display: inline-block;
  align-self: center;
  text-align: center;
  margin: 0 auto 3rem;
  font-size: 2.1rem;
  background: none;
  border: 0;
  background-image: linear-gradient(0deg, #613c63, #855987);
  box-shadow: 0 20px 40px rgba(56, 37, 57, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: .6em 1em;
  border-radius: .5em;
  cursor: pointer;
  transition: box-shadow .2s; }
  .price-btn:active {
    background-image: none;
    background-color: #613c63;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.price-desc {
  text-align: center;
  color: #dcdcdc;
  max-width: 25rem;
  margin: 0 auto; }

.regger .content {
  max-width: 640px;
  margin: 0 auto; }

.regger p {
  color: #333;
  font-size: 1.3rem;
  line-height: 2.2rem; }

.regger h2 {
  font-size: 2.2rem; }
  @media (min-width: 1366px) {
    .regger h2 {
      font-size: 3rem; } }

.regger h3 {
  font-size: 1.8rem; }

.order-image {
  text-align: center; }

.order-total {
  text-align: center;
  font-size: 1.4rem; }
  @media (min-width: 1366px) {
    .order-total {
      font-size: 3rem; } }

.order-form {
  display: flex;
  flex-direction: column; }

.success {
  color: greenyellow; }

.error {
  color: #fc5454; }

.footer {
  text-align: center; }

.regger-desc {
  font-size: 1.6rem;
  color: #333;
  line-height: 2.4rem;
  text-align: center;
  max-width: 880px;
  margin: 0 auto; }
  @media (min-width: 1366px) {
    .regger-desc {
      font-size: 2.2rem; } }

.elay {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  .elay .elay-avatar {
    width: calc(50% - 20px);
    margin: 0 10px 25px;
    text-align: center; }
  @media (min-width: 1366px) {
    .elay {
      justify-content: space-between; }
      .elay .elay-avatar {
        width: auto; } }

.order-title {
  font-size: 1.1rem; }
  @media (min-width: 1366px) {
    .order-title {
      font-size: 3rem; } }
  .order-title a {
    color: #4285be;
    text-decoration: underline; }

@media (min-width: 1366px) {
  .form-wrap {
    display: flex; } }

.column label {
  display: block;
  margin: 1rem 0; }

.column input {
  padding: .4em;
  vertical-align: middle; }

.column input[type="text"],
.column input[type="email"] {
  border: 1px solid rgba(76, 76, 76, 0.15);
  width: 100%; }

.column textarea {
  width: 100%;
  height: 8rem;
  border: 1px solid rgba(76, 76, 76, 0.15); }

@media (min-width: 1366px) {
  .column {
    width: calc(33% - 40px);
    margin: 0 20px; } }

* {
  box-sizing: border-box; }
