<main class="main">
  <h1 class="title">Мы издаем книги — вы их можете не читать</h1>
  <h2 class="order-title">Оформить заказ на книгу <a ng-href="/space_book/{{Order.book.id}}">{{Order.book.title}}</a></h2>
  <form class="order-form" name="orderForm" ng-submit="Order.submitOrder()">
    <div class="form-wrap">
      <div class="column">
        <label>
          Имя<br>
          <input name="name" type="text" placeholder="Имя" ng-model="Order.form.name" required>
        </label>
        <label>
          Телефон<br>
          <input name="phone" type="text" placeholder="Телефон" ng-model="Order.form.phone" required>
        </label>
        <label>
          Эл. адрес<br>
          <input name="email" type="email" placeholder="Электронный адрес" ng-model="Order.form.email" required>
        </label>
        Способ доствка
        <label ng-repeat="delivery in Order.deliveries">
          <input ng-model="Order.form.delivery" type="radio" name="deliveryId" value="{{delivery.id}}" ng-change="Order.addressCheck(delivery)">
          <span ng-bind="Order.getDeliveryName(delivery)"></span>
        </label>
        <label ng-show="Order.needAdress">
          Адрес доставки<br>
          <textarea name="address" ng-model="Order.form.address"></textarea>
        </label>
      </div>
      <div class="column">
        <label>
          Комментарий к заказу<br>
          <textarea name="comment" ng-model="Order.form.comment"></textarea>
        </label>

        Способ оплаты

        <label ng-repeat="pay in Order.payments">
          <input type="radio" name="paymentId" ng-model="Order.form.paymentId" value="{{pay.id}}"> {{pay.title}}
        </label>

      </div>
      <div class="column">
        <div class="order-image">
          <img ng-src="{{Order.book.cover.small}}" alt="{{Order.book.title}}">
        </div>
      </div>
    </div>
    <h2 class="order-total" ng-bind="Order.getTotal(Order.form.delivery)"></h2>
    <h2 class="order-total success" ng-if="Order.success">Ваш заказ оформлен</h2>
    <h2 class="order-total error" ng-if="Order.error">Произошла ошибка: {{Order.errorMsg}}</h2>
    <button type="submit" class="price-btn">Оформить заказ</button>
  </form>
</main>