@import "normalize";
$red: #fc5454;
$yellow: #B8CC24;
$blue: #4285be;
$light-blue: #96c2e4;
$gray: #4c4c4c;
$head-padding: 2.888rem;


html, body {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  color: currentColor;
}

a:link,
a:visited {
  text-decoration: none;
}

.logo {
  display: block;
  margin-bottom: $head-padding; 
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

.header {
  padding-bottom: $head-padding;
  padding-top: $head-padding;

  @media (min-width: 1366px) {
    display: flex;
    justify-content: space-between;
  }
}

.header,
.main,
.footer {
  padding-right: 4%;
  padding-left: 4%;
}

.main {
  flex: 1;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}


.search {
  position: relative;

  input {
    width: 100%;
    padding: .5em 1em .5em 2em;
    background: url(../img/loop.png) no-repeat center center;
    background-position: .5rem center;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 10rem;
    font-size: 1.1rem;
    outline: none;

    @media (min-width: 1366px) {
      width: 21rem;
    }
  }


  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
  }

}

.title {
  margin-top: 0;
  margin-bottom: $head-padding;
  font-size: 2.5rem;
  text-align: center;
  
  @media (min-width: 1366px) {
    font-size: 5rem;
  }
}


.book-joke {
  @media (min-width: 1366px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
}


.booking {
  @media (min-width: 1366px) {
    width: calc(25% - 40px);
    margin: 0 20px 4rem;
     text-align: center;
     margin-bottom: 4rem;
  }
}



.book-linked {
  color: $gray;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1rem;

  u {
    color: $blue;
  }

  &:hover u,
  &:focus u {
    color: $red;
  }
}

.book-image {
  text-align: center;
}

@media (min-width: 1366px) {
  .book-image {
    display: flex;
    justify-content: space-between;
  }

  .reviews  { order: 1 }
  .book-main     { order: 2 }
  .features { order: 3 }

  .reviews,
  .book-main,
  .features {
    width: calc(33% - 80px);
    margin: 0 40px;
  }
}

.book-main {
  margin-bottom: 4.4rem;

  img {
    margin-bottom: 3rem;
  }
}

.desc {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;

  strong {
    font-weight: normal;
    color: $red;
  }
}

.book-amazing {
  position: relative;
}

.apple-mergineye {
  position: absolute;
  left: calc(50% - 5rem);
  top: 40%;
  width: 10rem;
  height: 10rem;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 4px solid #000;

  &:before {
    content: '';
    position: absolute;
    left: -5%;
    right: -5%;
    top: -5%;
    bottom: -5%;
    background: #fff;
    border-radius: 50%;
    transform: rotateX(0deg);
    animation-name: eye-blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
  }
}

@keyframes eye-blink {
  82%   { transform: rotateX(0deg); }
  94%  { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}

.apple-mergin {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  border-radius: 50%;
  background: #000;
}

.review,
.feature {
  margin-bottom: 4rem;

  img {
    margin-bottom: 1.4rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
  }
}

.main-btn {
  display: block;
  background: none;
  border: 2px solid $light-blue;
  color: $blue;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: .6em 1.8em;
  margin: 0 auto;
  width: 95%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: $red;
    color: $red;
  }

  @media (min-width: 1366px) {
    width: auto;
  }
}


.price-btn {
  display: inline-block;
  align-self: center;
  text-align: center;
  margin: 0 auto 3rem;
  font-size: 2.1rem;
  background: none;
  border: 0;
  background-image: linear-gradient(0deg, #613c63, #855987);
  box-shadow: 0 20px 40px rgba(#382539, .2), 0 5px 10px rgba(#000, .2);
  color: #fff;
  padding: .6em 1em;
  border-radius: .5em;
  cursor: pointer;
  transition: box-shadow .2s;

  &:active {
    background-image: none;
    background-color: #613c63;
    box-shadow: 0 5px 10px rgba(#000, .2);
  }
}

.price-desc {
  text-align: center;
  color: #dcdcdc;
  max-width: 25rem;
  margin: 0 auto;
}

.regger {

  .content {
    max-width: 640px;
    margin: 0 auto;
  }

  p {
    color: #333;
    font-size: 1.3rem;
    line-height: 2.2rem;

  }

  h2 {
    font-size: 2.2rem;
    
    @media (min-width: 1366px) {
      font-size: 3rem;
    }

  }

  h3 {
    font-size: 1.8rem;
  }
}


.order-image {
  text-align: center;
}

.order-total {
  text-align: center;
  font-size: 1.4rem;
  @media (min-width: 1366px) {
    font-size: 3rem;
  }
}

.order-form {
  display: flex;
  flex-direction: column;
}

.success {
  color: greenyellow;
}

.error {
  color: $red;
}

.footer {
  text-align: center;
}

.regger-desc {
  font-size: 1.6rem;
  color: #333;
  line-height: 2.4rem;
  text-align: center;
  max-width: 880px;
  margin: 0 auto;

  @media (min-width: 1366px) {
    font-size: 2.2rem;
  }
}

.elay {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .elay-avatar {
    width: calc(50% - 20px);
    margin: 0 10px 25px;
    text-align: center;
  }

  @media (min-width: 1366px) {
    justify-content: space-between;
    .elay-avatar {
      width: auto;
    }
  }

}

.order-title {
  font-size: 1.1rem;
  @media (min-width: 1366px) {
    font-size: 3rem;
  }
  a {
    color: $blue;
    text-decoration: underline;
  }
}

.form-wrap {
  @media (min-width: 1366px) {
    display: flex;
  }
}

.column {

  label {
    display: block;
    margin: 1rem 0;
  }

  input {
    padding: .4em;
    vertical-align: middle;
  }

  input[type="text"],
  input[type="email"] {
    border: 1px solid rgba($gray, .15);
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 8rem;
    border: 1px solid rgba($gray, .15);
  }

  @media (min-width: 1366px) {
    width: calc(33% - 40px);
    margin: 0 20px;
  }
}

* {
  box-sizing: border-box;
}